@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Nunito:ital,wght@0,300;1,200&family=Poppins:wght@200;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-size: 62.50%;
}

body {
    background-color: black;
    background-image: url(DSC_0232.JPG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.First-section {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
}

.logo {

    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 40px;
}

.logo h1 {
    color: white;
    font-size: 2rem;
}

.logo h1 span {
    color: gold;
}

ul {
    display: flex;
    list-style: none;
    position: relative;
    right: 10rem;
}

ul li a {
    text-decoration: none;
    padding: 0 30px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

ul li a:hover {
    color: gold;
    transition: .2s;
}

.discription {
    color: gold;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin: auto;
    width: auto;
}

.discription h1 {
    font-size: 7rem;
    width: auto;
}

.discription p {
    font-size: 1.5rem;
    color: white;
}

.discription img {
    z-index: -1;
    background-color: aliceblue;

}

.section-me {
    display: flex;
    justify-content: center;
    background-color: rgba(12, 11, 11, 0.596);


}

.about-me {
    margin: 5.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.about-me h1 {
    font-size: 6rem;
    color: gold;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1rem;
}

.about-me p {
    color: white;
    font-size: 2rem;
}

/* other css */

#showcase {
    background-color: rgb(0, 0, 0);
}

.showcase-logo {
    font-size: 3rem;
    color: gold;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.showcase {
    margin: auto;
    width: 70%;
    display: block;
}

.showcase img {
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(12, 11, 11, 0.596);
    max-width: 100%;
}

.contact-left {
    color: yellow;
    font-size: 3rem;
    text-align: center;
}

.subtitle {
    color: yellow;
    font-size: 6rem;
    margin: 1rem;
}

.contact-left p {
    color: white;
}

.contact-left p i {
    color: rgb(248, 5, 5);
}

.social-icons {
    color: rgb(248, 6, 6);
    padding: 1rem;
    gap: 2rem;
}

.contact-right {
    margin: 3rem;
    width: 100;
}

form input,
form textarea {
    width: 100%;
    border: 1px solid white;
    outline: none;
    background-color: black;
    padding: 15px;
    color: yellow;
    border-radius: 6px;
}

.contact-right button {
    color: black;
    font-size: 15px;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: yellow;
}

.logo .fas {
    display: none;
}


@media(max-width: 820px) {
    .logo .fas {
        display: block;
        font-size: 3rem;
        color: white;
    }

    .logo ul {
        background-color: #ff004f;
        position: fixed;
        display: block;
        top: 0;
        right: -20rem;
        width: 20rem;
        height: 100vh;
        padding-top: 5rem;
        font-size: 7rem;

    }

    .logo ul li {
        margin: 2.5rem;
        display: block;

    }

    .logo ul .fas {
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
        cursor: pointer;
    }
}